body{
  background-color: rgb(202, 202, 202);
  color:rgb(1, 20, 20);
  font-family: sans-serif;
}

.App, .balance{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App h2{
  font-weight: normal;
}

.balance h2, h4, .cashFlow h2, h4{
  margin:0px;
  font-weight: normal;
}

.cashFlow{
  background-color: rgb(240, 232, 232);
  padding:10px 30px;
  margin:20px 0px;
  display:flex;
  box-shadow: 2px 2px 2px lightgray;
}

.income, .expense{
  margin:0px 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.income h2{
  color:green;
  margin:5px;
}

.expense h2{
  color: red;
  margin:5px;
}

.history{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.transactionList{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  border-right: 5px solid;
}

.transactionList h5{
  font-weight: normal;
  margin:5px;
}

.transactionList{
  background-color: rgb(240, 232, 232);
  padding:5px 0px;
  margin:10px 0px;
  box-shadow: 2px 2px 2px lightgray;  
  display: flex;
}

.addTransaction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px 0px;
}

.addTransText, .addAmount{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:5px 0px;
}
.addTransText label, .addAmount label{
  font-size: 12px;
  margin: 5px 0px;
}
.addTransText input, .addAmount input{
  padding:2px 10px;
  background-color: rgb(240, 232, 232);
  border:1px solid rgb(90, 152, 190);
}

.addTransaction div p{
  margin:5px;
  font-size: 12px;
  margin-bottom: 15px;
}

.addTransaction input[type='submit']{
  background-color: rgb(17, 17, 17);
  border:1px solid rgb(0, 54, 52);
  padding:5px 40px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.deleteBtn{
  cursor: pointer;
}